p .location {
  display: inline-block;
  width: 60px;
  height: 19px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50px;
  color: #fff;
  background-color: #38a58b;
  text-align: center;
  line-height: 18px;
}

p .phone {
  display: inline-block;
  width: 60px;
  height: 19px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50px;
  color: #fff;
  background-color: #5493d9;
  text-align: center;
  line-height: 18px;
}

p .description {
  display: inline-block;
  width: 60px;
  height: 19px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #6b45a5;
  text-align: center;
  line-height: 18px;
}
